altgraph==0.17.3
certifi==2023.7.22
charset-normalizer==3.2.0
docutils==0.20.1
idna==3.4
Kivy==2.2.1
kivy-deps.angle==0.3.3
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.6.0
Kivy-Garden==0.1.5
pefile==2023.2.7
Pygments==2.16.1
pyinstaller==5.13.2
pyinstaller-hooks-contrib==2023.8
pyperclip==1.8.2
pypiwin32==223
pywin32==306
pywin32-ctypes==0.2.2
requests==2.31.0
urllib3==2.0.4
